:root{
    --form-input-radius: 8px;
}
.compelete_TourRequestCard{
    margin-top: -125px;
}


.TourRequestCard{
    padding: 33px 28px 40px 28px;
    border-radius: 32px;
    margin-top: -68px;
    position: relative;
    z-index: 0;
}
.TourRequestTitle{
    padding: 33px 28px 40px 28px;
    height: 136px;
    background-color: white!important;
    /* border: 1px solid black; */
    position: relative;
    z-index: 0;
    border-radius: 32px 32px 0 0;
}
.TourRequest_title{
    font-size: 32px;
    font-weight: 400;
    color: #4F4F4F;
    margin-bottom: 10px;
    padding-left: 12px;
}


                                  /* drop down style */
.custom-dropdown .dropdown-toggle {
    display: flex;
    align-items: center;
    padding: 16px 16px;
    background-color: #f8f9fa;
    border-radius: 20px;
    border: 1px solid #ccc;
  }
  .dropdown_textImg{
    gap: 16px;
      }
      .dropdown_textImg p{
    font-size: 20px;
    /* font-weight: 700; */
    line-height: 24px;
    color: black;
    margin-bottom: 0;
    background: transparent;
      }
  
  .custom-dropdown .dropdown-toggle-content {
    display: flex;
    align-items: center;
  }
  
  .dropdown-img {
    width: 64px;  /* Adjust based on your actual image size */
    height: 64px;
    /* margin-right: 16px; */
    border-radius: 8px;  /* Circular image */
  }
  
  .dropdown-menu {
    border-radius: 0px;
    overflow: hidden;
  }
  
  .dropdown-item {
    display: flex;
    align-items: center;
  }
  
  .dropdown-item .dropdown-img {
    margin-right: 8px;
  }
  .dropdown_component{
    margin-top: -77px;
    width: 100%;
    display: flex!important;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px!important;
    background-color: #F9F7F4!important;
    border: none!important;
    padding: 16px!important;
    
  }
  /* .dropdown_menus{
    width: 100%;
  } */
  .TourRequest_cityoptions{
    width: 100%;
  }
  .dropdown-toggle-content {
    color: #000;
    font-size: 20px;
    font-weight: 600;
  }
  .dropdown-toggle::after {
    background-image: url('../../../assets/images/dropdown_icon.svg') !important;
    /* background-image: url('../..//images/dropdown_icon.svg')!important; */
    height: 40px;
    width: 40px;
    border: none!important;
    /* border: 1px solid black!important; */
    background-position: center;
    background-repeat: no-repeat!important;
  }


                                                        /* option select */

.option_container{
    margin-top: 18px;
    margin-bottom: 24px;
}                                                        

  .TourRequest_option_button {
    display: flex!important;
    flex-direction: column!important;
    align-items: center!important;
    justify-content: center;
   position: relative;
    width: 100px;  
    height: 100px;
    border-radius: 18px!important; 
    border: 1px solid #ccc;
    color: black; 
    transition: all 0.3s ease; 

  }
  .TourRequest_option_button{
border: 0!important;
  }
  
  .TourRequest_option_button.active {
    border: none!important;
    background-color: #E05E0F!important; /* Active state background */
    color: white; /* Active state text color */
  }
  
  .TourRequest_option_button:not(.active):hover {
    background-color: #f8f9fa; /* Hover state for inactive buttons */
  }
  
  .icon-placeholder {
    width: 32px;  /* Adjust based on your icon size */
    height: 32px;  /* Adjust based on your icon size */
 /* Placeholder color, replace with actual icons */
    margin-bottom: 5px;
  }
  .TourRequest_option_button span{
    font-size: 13px;
    line-height: 15px;
    margin-top: 8px;
  }
  
  /* Specific icons placeholders  */
  .icon-placeholder.coworking { background-image: url('../../../assets/images/select_coworking_space.svg'); background-repeat: no-repeat; background-position: center; }
  .icon-placeholder.conference { background-image: url('../../../assets/images/select_conference.svg'); background-repeat: no-repeat; background-position: center; }
  .icon-placeholder.office { background-image: url('../../../assets/images/select_conference.svg'); background-repeat: no-repeat; background-position: center; }
  
    /* Specific icons placeholders when active */
  .icon-placeholder.coworking.active { background-image: url('../../../assets/images/select_coworking_space_active.svg'); background-repeat: no-repeat; background-position: center; }
  .icon-placeholder.conference.active { background-image: url('../../../assets/images/select_conference_active.svg'); background-repeat: no-repeat; background-position: center; }
  .icon-placeholder.office.active { background-image: url('../../../assets/images/select_conference_active.svg'); background-repeat: no-repeat; background-position: center; }

  .TourRequest_option_button.active::after{
    content: '';
    position: absolute;
    /* background-image: url('../../src//asserts/images/select-arrow.svg'); */
    width: 16px;
    height: 16px;
    right: 9px;
    top: 9px;   
    /* margin-top: 80px; */
  }


                  /* form style */


.form_container{
    padding-left: 4px;
    padding-right: 4px;
}                  

/* CustomForm.module.css */
.input-group-text {
    background: transparent!important;
    border-right: none!important;
    border: transparent!important;
    border-radius: var(--form-input-radius) 0 0 var(--form-input-radius)!important;
    background-color: #F9F7F4!important;
    color: #cb6e17; /* Icon color */
  }
  
  .form-control {
    border-radius: 15px;
    background-color: #F9F7F4!important;
    border: 0px solid transparent!important;
  }
  
  .form-control:focus {
    box-shadow: none;
    border-color: transparent;
  }
  .input_text_field{
    border-left: none!important;
    padding-left: 4px!important;
    color:#828282!important;
    /* font-size: 16px!important; */
    letter-spacing: 0.5px;
    border-radius:0 var(--form-input-radius) var(--form-input-radius) 0!important;
    /* background-color: red!important; */
  }
  .input_text_field::placeholder{
    color:#828282!important;
    /* font-size: 16px!important; */
    /* letter-spacing: 0.5px; */
  }
  .input_text_field:focus{
    /* background-color: var(--bs-body-bg); */
    border-color: transparent!important;
    outline: none!important;
    box-shadow:none!important;
  }
  .complete_input_field{
    height: 56px;
    margin-bottom: 18px;
  }
  .submit_btn{
    margin-top: 39px;
    width: 100%;
    height: 64px;
    color: white!important;
    /* font-size: 18px!important; */
    /* font-weight: 600!important; */
    border-radius: 26px!important;
    background-color: #E05E0F!important;
    border: none!important;
  }
  .submit_btn img{
    margin-left: 10px
  }