.ReviewCard{
max-width: 345px;
width: 100%;
background-color: white;
border-radius: 24px;
padding: 32px;
box-shadow: 0px 0px 1px 0px #0000000A, 0px 2px 6px 0px #0000000A, 0px 16px 21px 0px #00000008;

}
.starimages img{
    max-width: 170px;
    height: 40px;
}
.review_user img{
    max-width: 42px;
}
.review_comment p{
    margin-top: 16px;
    margin-bottom: 16px;

}
.review_user{
    gap: 16px;
}
.review_user_image{
    border-radius: 100%;
}
.user_detail_name{
line-height: 32px;
margin-bottom: 0;
}
.user_detail_position{
line-height: 21px;
color: #7A7A7A;
margin-bottom: 0;
}