.filter_btns{
    /* width: 100%; */
    width: auto;
   padding-top: 17px;
    gap: 24px;
}
.filter_btns button{
     width: fit-content;
     border: 0;
     background: transparent;
     gap: 8px;
}
.filter_btns_dropdown{
    display: flex;
    gap: 14px;
}
.filter_btns button img{
    width: fit-content;
}
.filter_btns_dropdown select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('../../assets/images/drop_down.svg') no-repeat right 20px center;
    padding: 12px 46px 12px 20px;
    border-color: #B8B3B0;
}

.filter_btns_dropdown select {
    width: auto;
}

@media only screen and (max-width:767px){
    .filter_btns_cowrking{
        padding-top: 0;
    }
}