.LocationPage {
    --gap: 17px;
    --remove-padding: -20px;
}

.LocationPage_conatiner {
    max-width: 1420px;
    width: 100%;
    margin: auto;
}

.LocationPage_heading h6 {
    padding-left: 5px;
    /* margin-bottom: 17px; */

}

.LocationPage_divider {
    /* padding: 17px 0; */
}

.LocationPage_search {
    width: fit-content;
    border-radius: 10px;
    padding-left: 18px;
    padding-right: 15px;
    background: #F9F7F4;
    height: 56px;
    margin: 17px 0;

}

.LocationPage_search input {
    border: 0;
    align-self: stretch;
    outline-offset: 0px;
    background: transparent;
    padding-right: 5px;
}

.LocationPage_search input:focus-visible {
    outline: none;
}

.LocationPage_search input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

.LocationPage_search input::placeholder {
    color: black;
}

.LocationPage_filterBtns {
    padding-left: 10px;
}

.LocationPage_SortBtns {
    margin-top: 24px;
    margin-bottom: 30px;
}

.LocationPage_cardContain>div:not(:first-child) {
    margin-top: 24px;
}

.LocationPage_map,
.LocationPage_rightdivider {
    height: 100%;
}

.LocationPage_map>img {
    object-fit: cover;
    border-top-left-radius: 40px;
}

.LocationPage_fullscreen_icon {
    z-index: 1;
    top: 36px;
    left: 36px;
}

.LocationPage_closebtn {
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
}

.LocationPage_closebtn button {
    border: 0;
    background: #202F32;
    padding: 10px 21px;
}

.LocationPage_closebtn svg {
    font-size: 24px;
    font-weight: 700;
    margin-left: 5px;
}
.LocationPage_map{
    max-height: 90vh;
    position: sticky !important;
    top: 20px;
}
/* .location_component_mainDiv{
height: 100vh;
overflow: hidden;
} */
/* .location_card_div{
    height: -webkit-fill-available;
    overflow-x: scroll;
    -ms-overflow-style: none;  
    scrollbar-width: none;
} */
.location_card_div::-webkit-scrollbar {
    /* display: none; */
  }
  


@media only screen and (min-width:768px) {
    .LocationPage_leftdivider {
        padding-right: var(--gap);
    }

    .LocationPage_rightdivider {
        padding-left: var(--gap);
    }

    .LocationPage_removepadding {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}


@media only screen and (max-width:767px) {
    .LocationPage_map>img {
        border-top-left-radius: 0px;
    }

    .LocationPage_removepadding {
        margin: 0 var(--remove-padding);
    }

    .LocationPage_mobileheading {
        position: relative;
        z-index: 11;
        background: white;
        padding-bottom: 37px;
        border-radius: 0 0 34px 34px;
        /* border: 1px solid black; */
    }

    .LocationPage_map_col,
    .LocationPage_card {
        margin-top: -50px;
    }

    .LocationPage_fullscreen_icon {
        top: 50px;
        left: auto;
        right: 20px;
    }

    /* .LocationPage_fullscreen_icon img{
        width: 30px;
        aspect-ratio:1 / 1;
    } */
    .LocationPage_rightdivider {
        padding-top: 20px;
    }

    .LocationPage_closebtn button {
        font-size: 12px;
        padding: 0px 10px;
    }

    .LocationPage_closebtn svg {
        font-size: 15px;
        margin-left: 2px;
    }

    .LocationPage_searchbar {}

    .LocationPage_search {
        width: 100%;
    }

    .LocationPage_search img {
        max-width: fit-content;
    }

    .mobile_filterbtn {
        margin-left: 14px;
    }

    .LocationPage_card {
        background-color: #F9F7F4;
        position: relative;
        z-index: 11;
        border-radius: 34px 34px 0 0;
        padding-top: 64px;
    }

    .LocationPage_card h6 {
        font-size: 21px;
        padding-bottom: 26px;
    }

    .LocationPage_closebtn_mobile {
        margin-top: 0;
        transform: translate(0%);

    }
    .Roomcards_padding{
        padding-bottom: 25px;
    }
    .Roomcards_padding{
        margin: 0 var(--remove-padding);
    }
}

@media only screen and (max-width:639px) {

    /* .LocationPage_fullscreen_icon img{
        width: 20px;   
    } */
    .LocationPage_closebtn button {
        font-size: 10px;
        padding: 0px 10px;
    }

    .LocationPage_closebtn svg {
        font-size: 15px;
        margin-left: 2px;
    }
}





/* LocationPage.module.css */
.loader {
    height: 1px;
    margin-bottom: 1px;
  }
  